/* shake effect */

@keyframes cp-shake-horizontal {
  0%   { transform: translateX(0); }
  10%  { transform: translateX(-12px); }
  20%  { transform: translateX(12px); }
  30%  { transform: translateX(-12px); }
  40%  { transform: translateX(12px); }
  50%  { transform: translateX(-12px); }
  60%  { transform: translateX(12px); }
  70%  { transform: translateX(-12px); }
  80%  { transform: translateX(12px); }
  90%  { transform: translateX(-12px); }
  100% { transform: translateX(0); }
}


/* Animation utility */
.cp-animate-shake {
  animation: cp-shake 3s ease-in-out;
}
