/* Hero Slide Backgrounds */
.carousel-slide.slide-1 {
  background: linear-gradient(rgba(33, 64, 154, 0.6), rgba(33, 64, 154, 0.6)),
    url("https://images.unsplash.com/photo-1504307651254-35680f356dfd?ixlib=rb-4.0.3&auto=format&fit=crop&w=1920&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.carousel-slide.slide-2 {
  background: linear-gradient(rgba(33, 64, 154, 0.6), rgba(33, 64, 154, 0.6)),
    url("https://images.unsplash.com/photo-1629241290025-6bb716261f5f?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.carousel-slide.slide-3 {
  background: linear-gradient(rgba(33, 64, 154, 0.6), rgba(33, 64, 154, 0.6)),
    url("https://images.unsplash.com/photo-1575281923032-f40d94ef6160?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.carousel-slide.slide-4 {
  background: linear-gradient(rgba(33, 64, 154, 0.6), rgba(33, 64, 154, 0.6)),
    url("https://images.unsplash.com/photo-1669101602108-fa5ba89507ee?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.hero,
.carousel-slide {
  min-height: 100vh;
}

@media (max-width: 768px) {
  .carousel-slide {
    background-size: cover;
    background-position: center top;
  }
}

/* Pages Hero section Backgrounds */
.page-header.hero-cleaning {
  background: linear-gradient(rgba(33, 64, 154, 0.6), rgba(33, 64, 154, 0.6)),
    url("https://images.unsplash.com/photo-1669101602108-fa5ba89507ee?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.page-header.hero-construction {
  background: linear-gradient(rgba(33, 64, 154, 0.6), rgba(33, 64, 154, 0.6)),
    url("https://images.unsplash.com/photo-1575281923032-f40d94ef6160?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.page-header.hero-petroleum {
  background: linear-gradient(rgba(33, 64, 154, 0.6), rgba(33, 64, 154, 0.6)),
    url("https://images.unsplash.com/photo-1629241290025-6bb716261f5f?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* CTA Section */
/* Home Page */
.cta-section .cta {
  background: linear-gradient(rgba(33, 64, 154, 0.9), rgba(33, 64, 154, 0.9)),
    url("https://images.unsplash.com/photo-1504307651254-35680f356dfd?ixlib=rb-4.0.3&auto=format&fit=crop&w=1200&q=80");
  background-size: cover;
  background-position: center;
}

.cta-petroleum .cta {
  background: linear-gradient(rgba(33, 64, 154, 0.9), rgba(33, 64, 154, 0.9)),
    url("/images/petroleumbg1.jpg");
  background-size: cover;
  background-position: center;
}

.cta-construction .cta {
  background: linear-gradient(rgba(33, 64, 154, 0.9), rgba(33, 64, 154, 0.9)),
    url("/images/building.jpg");
  background-size: cover;
  background-position: center;
}

.cta-cleaning .cta {
  background: linear-gradient(rgba(33, 64, 154, 0.9), rgba(33, 64, 154, 0.9)),
    url("/images/cleaning.jpg");
  background-size: cover;
  background-position: center;
}

/* Service comb-bg */
.servicecomb.servicecomb-bg {
  background: url("/images/petrolgun.png") no-repeat center;
  background-size: contain;
}
